.overlay
  position: fixed
  display: block
  top: 0
  width: 100%
  height: 100%
  z-index: 3
  background-color: rgba(0,0,0,.4)
  .popup
    position: fixed
    left: 50%
    top: 100px
    width: 752px
    transform: translateX(-50%)
    &-close
      position: absolute
      font-size: 33px
      color: #ffffff
      right: -20px
      top: -32px
      font-weight: 200
      cursor: pointer
    &-title
      display: block
      width: 100%
      min-height: 68px
      margin: 0
      background-color: $color_tangerine
      color: $color_white
      text-transform: uppercase
      text-align: center
      font-size: 21px
      font-weight: 400
      font-style: normal
      font-stretch: normal
      letter-spacing: 1px
      line-height: 68px
    &-form
      background: url("../img/modal_bg.jpg") center no-repeat
      background-size: cover
      color: $color_white
      &-header
        font-size: 30px
        font-weight: 300
        font-style: normal
        font-stretch: normal
        line-height: 0.9*
        text-align: center
        letter-spacing: 1px
        span
          font-size: 24px
          line-height: 1.13
          font-weight: 300
          letter-spacing: 1px
      .popup-form
        //display: flex
        &__label
          color: $color_white
          //order: -1
          display: inline-block
          min-width: 100%
        &__input
          padding: 20px
          border-radius: 4px
          border: none
          vertical-align: middle
          margin-right: 10px
          color: $color_black_70
          order: 0

      //.form
      //  display: flex
      //  justify-content: space-between
      //  width: 100%
      //  color: $color_black_70
      //  padding-bottom: 8px
      //  &__input
      //    padding: 20px
      //    border-radius: 4px
      //    border: none
      //    vertical-align: middle
      //    margin-right: 10px
      //    flex-basis: 70%
      //.form-small
      //  font-size: 14px
      //  font-weight: 200
      //  line-height: 2.14
      //  letter-spacing: 1px
      //




