* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

img {
  max-width: 100%; }

input:focus, button:focus {
  outline: none; }

.section-title {
  font-size: 27px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.87;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: #313131;
  margin-top: 50px;
  margin-bottom: 0; }
  .section-title::after {
    content: '';
    display: block;
    background: url("../img/section-title-line.png") center no-repeat;
    height: 7px;
    padding-top: 40px; }

.button {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #ffffff;
  background-color: #ff9d00;
  padding: 11px 20px; }
  .button:hover {
    background-color: #ffa71a;
    cursor: pointer; }
  .button_big {
    padding-top: 16px;
    padding-bottom: 16px;
    vertical-align: middle; }
    .button_big_popup {
      padding: 16px 29px; }
  .button img {
    vertical-align: middle; }
  .button-o {
    background-color: transparent;
    border: solid 1px #9b9b9b;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: center;
    color: #9b9b9b; }
    .button-o:hover {
      background-color: transparent;
      cursor: pointer;
      color: #ff9d00;
      border-color: #ff9d00; }

.section-title {
  font-size: 27px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.87;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: #313131;
  margin-top: 50px;
  margin-bottom: 0; }
  .section-title::after {
    content: '';
    display: block;
    background: url("../img/section-title-line.png") center no-repeat;
    height: 7px;
    padding-top: 40px; }

.button {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #ffffff;
  background-color: #ff9d00;
  padding: 11px 20px; }
  .button:hover {
    background-color: #ffa71a;
    cursor: pointer; }
  .button_big {
    padding-top: 16px;
    padding-bottom: 16px;
    vertical-align: middle; }
    .button_big_popup {
      padding: 16px 29px; }
  .button img {
    vertical-align: middle; }
  .button-o {
    background-color: transparent;
    border: solid 1px #9b9b9b;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: center;
    color: #9b9b9b; }
    .button-o:hover {
      background-color: transparent;
      cursor: pointer;
      color: #ff9d00;
      border-color: #ff9d00; }

.header {
  padding: 15px 0; }
  .header-contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header-contacts__phone {
      font-size: 22px;
      font-weight: 400;
      line-height: 1;
      letter-spacing: normal;
      color: #373737;
      margin-right: 10px; }
      .header-contacts__phone:first-child {
        border-right: 1px solid #cfcfd0;
        padding-right: 10px;
        line-height: 32px; }

.section-title {
  font-size: 27px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.87;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: #313131;
  margin-top: 50px;
  margin-bottom: 0; }
  .section-title::after {
    content: '';
    display: block;
    background: url("../img/section-title-line.png") center no-repeat;
    height: 7px;
    padding-top: 40px; }

.button {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #ffffff;
  background-color: #ff9d00;
  padding: 11px 20px; }
  .button:hover {
    background-color: #ffa71a;
    cursor: pointer; }
  .button_big {
    padding-top: 16px;
    padding-bottom: 16px;
    vertical-align: middle; }
    .button_big_popup {
      padding: 16px 29px; }
  .button img {
    vertical-align: middle; }
  .button-o {
    background-color: transparent;
    border: solid 1px #9b9b9b;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: center;
    color: #9b9b9b; }
    .button-o:hover {
      background-color: transparent;
      cursor: pointer;
      color: #ff9d00;
      border-color: #ff9d00; }

.main {
  position: relative;
  padding-top: 65px;
  padding-bottom: 60px;
  background: #373737 url("../img/main-bg.jpg") 50% 23% no-repeat;
  z-index: 2; }
  .main::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0; }
  .main-img {
    position: relative; }
    .main-img::before {
      content: '';
      display: block;
      position: absolute;
      border: 1px solid #ffffff;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      width: 370px;
      height: 370px;
      z-index: -1;
      left: 50%;
      margin-left: -140px; }
  .main-text {
    color: #ffffff; }
    .main-text__title {
      font-size: 41px;
      font-weight: 500;
      line-height: 1.02;
      margin: 0 0 10px; }
    .main-text__subtitle {
      font-size: 28px;
      font-weight: 300;
      line-height: 1.5;
      padding-bottom: 24px; }
    .main-text__form {
      background-color: rgba(255, 255, 255, 0.2);
      padding: 30px;
      color: #ffffff; }
      .main-text__form .form-title {
        font-size: 20px;
        font-weight: 200;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 1px;
        padding-right: 87px;
        margin-bottom: 20px; }
        .main-text__form .form-title__importan {
          text-transform: uppercase;
          font-weight: 500;
          letter-spacing: 1px; }
      .main-text__form .form {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 100%;
        color: rgba(55, 55, 55, 0.7);
        padding-bottom: 8px; }
        .main-text__form .form__input {
          padding: 20px;
          -webkit-border-radius: 4px;
                  border-radius: 4px;
          border: none;
          vertical-align: middle;
          margin-right: 10px;
          -webkit-flex-basis: 70%;
              -ms-flex-preferred-size: 70%;
                  flex-basis: 70%; }
      .main-text__form .form-small {
        font-size: 14px;
        font-weight: 200;
        line-height: 2.14;
        letter-spacing: 1px; }

.features {
  background-color: #f4f4f4;
  padding-top: 50px;
  padding-bottom: 55px; }
  .features .numbers {
    text-align: center;
    padding-bottom: 35px; }
    .features .numbers-block {
      display: inline-block;
      width: 33%;
      vertical-align: top; }
      .features .numbers-block__title {
        font-size: 36px;
        font-weight: 900;
        line-height: 0.8;
        color: #f39003;
        padding-bottom: 13px; }
        .features .numbers-block__title sup {
          font-size: 20px; }
      .features .numbers-block__text {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: center;
        color: #373737; }
  .features .features-blocks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .features .features-blocks .features-block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      background-color: #ffffff;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-flex-basis: 30.6%;
          -ms-flex-preferred-size: 30.6%;
              flex-basis: 30.6%;
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 30px;
      padding: 28px 19px; }
      .features .features-blocks .features-block__img {
        -webkit-flex-basis: 40%;
            -ms-flex-preferred-size: 40%;
                flex-basis: 40%;
        padding-right: 14px; }
      .features .features-blocks .features-block__title {
        font-size: 15px;
        font-weight: bold;
        line-height: 1.27;
        color: #373737;
        padding-bottom: 5px; }
      .features .features-blocks .features-block__descr {
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.36;
        letter-spacing: normal;
        text-align: left;
        color: #373737; }

.section-title {
  font-size: 27px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.87;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: #313131;
  margin-top: 50px;
  margin-bottom: 0; }
  .section-title::after {
    content: '';
    display: block;
    background: url("../img/section-title-line.png") center no-repeat;
    height: 7px;
    padding-top: 40px; }

.button {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #ffffff;
  background-color: #ff9d00;
  padding: 11px 20px; }
  .button:hover {
    background-color: #ffa71a;
    cursor: pointer; }
  .button_big {
    padding-top: 16px;
    padding-bottom: 16px;
    vertical-align: middle; }
    .button_big_popup {
      padding: 16px 29px; }
  .button img {
    vertical-align: middle; }
  .button-o {
    background-color: transparent;
    border: solid 1px #9b9b9b;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: center;
    color: #9b9b9b; }
    .button-o:hover {
      background-color: transparent;
      cursor: pointer;
      color: #ff9d00;
      border-color: #ff9d00; }

.products {
  padding-bottom: 70px; }
  .products .products-block {
    text-align: center; }
    .products .products-block__img {
      padding-bottom: 15px; }
    .products .products-block__title {
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      color: #313131;
      padding-bottom: 28px; }
    .products .products-block__button {
      margin-right: 10px; }

.section-title {
  font-size: 27px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.87;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: #313131;
  margin-top: 50px;
  margin-bottom: 0; }
  .section-title::after {
    content: '';
    display: block;
    background: url("../img/section-title-line.png") center no-repeat;
    height: 7px;
    padding-top: 40px; }

.button {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #ffffff;
  background-color: #ff9d00;
  padding: 11px 20px; }
  .button:hover {
    background-color: #ffa71a;
    cursor: pointer; }
  .button_big {
    padding-top: 16px;
    padding-bottom: 16px;
    vertical-align: middle; }
    .button_big_popup {
      padding: 16px 29px; }
  .button img {
    vertical-align: middle; }
  .button-o {
    background-color: transparent;
    border: solid 1px #9b9b9b;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: center;
    color: #9b9b9b; }
    .button-o:hover {
      background-color: transparent;
      cursor: pointer;
      color: #ff9d00;
      border-color: #ff9d00; }

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4); }
  .overlay .popup {
    position: fixed;
    left: 50%;
    top: 100px;
    width: 752px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
    .overlay .popup-close {
      position: absolute;
      font-size: 33px;
      color: #ffffff;
      right: -20px;
      top: -32px;
      font-weight: 200;
      cursor: pointer; }
    .overlay .popup-title {
      display: block;
      width: 100%;
      min-height: 68px;
      margin: 0;
      background-color: #ff9d00;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center;
      font-size: 21px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 1px;
      line-height: 68px; }
    .overlay .popup-form {
      background: url("../img/modal_bg.jpg") center no-repeat;
      -webkit-background-size: cover;
              background-size: cover;
      color: #ffffff; }
      .overlay .popup-form-header {
        font-size: 30px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.9;
        text-align: center;
        letter-spacing: 1px;
        padding-top: 35px; }
        .overlay .popup-form-header span {
          font-size: 24px;
          line-height: 1.13;
          font-weight: 300;
          letter-spacing: 1px;
          display: inline-block;
          padding-top: 4px; }
      .overlay .popup-form .popup-form__label {
        color: #ffffff;
        display: inline-block;
        min-width: 100%;
        text-align: center;
        font-size: 20px;
        font-weight: 100;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 1px;
        padding-top: 20px;
        padding-bottom: 15px; }
      .overlay .popup-form .popup-form__input {
        padding: 20px 220px 20px 20px;
        -webkit-border-radius: 4px;
                border-radius: 4px;
        border: none;
        vertical-align: middle;
        margin-right: 10px;
        color: rgba(55, 55, 55, 0.7);
        margin-left: 84px; }
      .overlay .popup-form .popup-form-small {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-size: 14px;
        font-weight: 100;
        line-height: 2.14;
        letter-spacing: 1px;
        padding-top: 7px;
        padding-bottom: 40px; }

body {
  background: #ffffff;
  font-family: 'Roboto', sans-serif; }
